<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <% if(!data.loginStatus) {%>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
    </ul>
</nav>